
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
Hello!!!

<form method="post" action="/Tweets/SaveToDatabase">
    <textarea name="Text" class="form-control" placeholder="Please enter your tweet here..."></textarea>
    <hr />
    <input type="reset" value="Reset" class="btn" />
    <input type="submit" value="Post" class="btn btn-primary" />
</form>